<header>
    <nav>
        <div class="company-logo">
            <img src="assets/logos/main-logo.png" alt="main-logo">
        </div>
        <div class="menu-content">
            <ul>
                <li><a href="#/home" style="color: #5672f9;">Home</a></li>
                <li><a href="#/dashboard">Dashboard</a></li>
                <li>
                    <a href="#/pages">Pages<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-content pages">
                        <li><a href="#/category">Category</a></li>
                        <li><a href="#/singlePost">Single Page</a></li>
                        <li><a href="#/storeSingle">Store Single</a></li>
                        <li><a href="#/dashboard">Dashboard</a></li>
                        <li><a href="#/userProfile">User Profile</a></li>
                        <li><a href="#/submitCoupon">Submit Coupon</a></li>
                        <li><a href="#/blog">Blog</a></li>
                        <li><a href="#/singlePost">Single Post</a></li>
                    </ul>
                </li>
                <li><a href="#/listing">Listing<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-content listing">
                        <li><a href="#/category">Action</a></li>
                        <li><a href="#/singlePost">Another Action</a></li>
                        <li><a href="#/storeSingle">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="action-buttons">
            <ul>
                <li><button class="login-button">Login</button></li>
                <li><button class="add-listing-button"><i class="fa fa-plus-circle"></i>
                        <!-- <span class="add-icon">+</span> -->
                        Add Listing</button></li>
            </ul>
        </div>
    </nav>
</header>