<div class="overlay-block">
    <!-- Header Contetnt -->
    <div class="content-block">
        <h1>Buy &amp; Sell Near You </h1>
        <p>Join the millions who buy and sell from each other <br> everyday in local communities around the
            world</p>
        <div class="short-popular-category-list">
            <h2>Popular Category</h2>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href=""><i class="fa fa-bed"></i> Hotel</a>
                </li>
                <li class="list-inline-item">
                    <a href=""><i class="fab fa-grav"></i> Fitness</a>
                </li>
                <li class="list-inline-item">
                    <a href=""><i class="fa fa-car"></i> Cars</a>
                </li>
                <li class="list-inline-item">
                    <a href=""><i class="fa fa-cutlery"></i> Restaurants</a>
                </li>
                <li class="list-inline-item">
                    <a href=""><i class="fa fa-coffee"></i> Cafe</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- Advance Search -->
    <div class="advance-search">
        <div class="search-input-1">
            <input type="text" class="searchInput1" id="search" placeholder="Search for store">
        </div>
        <div class="search-input-2">
            <input type="text" class="searchInput2" id="search" placeholder="Search for store">
        </div>
        <div class="button">
            <button class="search-button">SEARCH</button>
        </div>


    </div>
</div>