<div class="main-footer">
  <div class="container">
    <div class="logo-info" >
      <div class="logo">
        <!-- footer logo -->
        <img src="../../assets/logos/logo-footer.png" alt="footer-logo">
      </div>
      <div class="some-info">
        <!-- description -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="site-pages">
      <h4>Site Pages</h4>
      <ul>
        <li><a href="#">Boston</a></li>
        <li><a href="#">How It works</a></li>
        <li><a href="#">Deals &amp; Coupons</a></li>
        <li><a href="#">Articls &amp; Tips</a></li>
        <li><a href="#">Terms of Services</a></li>
      </ul>
    </div>
    <div class="admin-pages">
      <h4>Admin Pages</h4>
      <ul>
        <li><a href="#">Boston</a></li>
        <li><a href="#">How It works</a></li>
        <li><a href="#">Deals &amp; Coupons</a></li>
        <li><a href="#">Articls &amp; Tips</a></li>
        <li><a href="#">Terms of Services</a></li>
      </ul>
    </div>
    <div class="app-promotion" style="display: flex;">
      <a href="">
        <!-- Icon -->
        <img src="../../assets/logos/phone-icon.png" alt="mobile-icon">
      </a>
      <p>Get the Dealsy Mobile App and Save more</p>
    </div>
  </div>
  <div class="copyright-info-logo">
    <div class="copyright-info">
      <p>Copyright © 2016. All Rights Reserved</p>
    </div>
    <div class="partner-logos">
      <ul class="social-media-icons text-right">
        <li><a class="fab fa-facebook" href=""></a></li>
        <li><a class="fab fa-twitter" href=""></a></li>
        <li><a class="fab fa-pinterest-p" href=""></a></li>
        <li><a class="fab fa-vimeo" href=""></a></li>
      </ul>
    </div>
  </div>
</div>